

.welcomeBar{
    display: flex;
    justify-content: center;
    align-items: center;

}


.logpageConteiner{
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}

.logpageItem{
    margin-top: 100px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


.container{
    border: 1px solid cornflowerblue;
    padding: 15px;
    border-radius: 20px;
}


.dashboard{
  margin-top: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoconteiner{
  width: 70%;
  height: 100px;
  display: flex;
  margin-bottom: 5px;
  
  border: steelblue solid 1px;
  border-radius: 10px;

}
.todoheader{
  width: 5%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.todoend{
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

input[type=checkbox]
{

  transform: scale(2); 
  padding: 10px;
}

.todoContent{
  width: 85%;
  height: 100%;

 display: flex;
 flex-direction: column;

}

.todoContentText{
  height: 70%;
  width: 100%;
  border-bottom: black solid 1px;
  border-radius: 1px;
  display: flex;
  align-items: center;
}

.todoContentDate{
  height: 30%;
  width: 99%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: red;
}

.dialogdemoBasicUsage #popupContainer {
  position: relative; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

.dialogdemoBasicUsage button {
  width: 200px; }

.dialogdemoBasicUsage div#status {
  color: #c60008; }

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0; }

.addbtn{
  width: 100px;
  }