<md-toolbar>
    <div class="md-toolbar-tools">
      <h2 flex md-truncate class="userIcon">Dashboard</h2>
      <label>{{globals.currentUser.user.email}}</label>
      <md-button class="md-fab md-mini md-hue-3" aria-label=" ">
        <md-icon ></md-icon>
      </md-button>
    </div>
  </md-toolbar>


  <div ng-controller="mainCtrl" flex 
  layout="column"       layout-align="center center"

  >
   <div layout="row"  ng-show="todos.length>0"
   layout-align="space-between center" 
   style="width: 70%; border-bottom: powderblue solid 3px" >
     
      <md-button class="md-primary md-raised addbtn" ng-click="showAdvanced($event)">
          Add TODO
        </md-button >
        <input type="text" placeholder="Search" ng-model="search" style="width: 30%; margin-right:10px ">
  </div> 

  <md-button class="md-primary md-raised addbtn" ng-click="showAdvanced($event)" ng-hide="todos.length>0">
      Add TODO
    </md-button >

    <hr>

      <todo 
      ng-repeat="todo in todos | orderBy: ['done','goalDate'] | filter : search"
      
      ></todo>

    </div>