<md-dialog aria-label="Add TODO" flex-gt-md="25" flex="90" flex-sm="50" flex-md="40">
  <form ng-cloak name="addForm">


    <md-toolbar class="topAddDialog">
        <div class="md-toolbar-tools">
          <h3 flex>Add Task</h3>

        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/cancel.svg" ></md-icon>
          </md-button>

        </div>

      </md-toolbar>

    <md-dialog-content layout="column" layout-align="center center">  


      <md-input-container  style="width: 92%; margin-top:30px">

        <input type="text"  ng-model="text" placeholder="Task" required  ng-minlength="2">
        <div ng-messages="addForm.$error">
          <div ng-message="required">A task is required</div>
          <div ng-message="minlength">The task must be at least 2 characters long.</div>

        </div>
      </md-input-container>
    
      <div  layout="column" layout-align="center center"
      style="
      margin-top: -30px;
      margin-bottom: 10px;
      padding-left: 5px !important;
      padding-right: 5px !important;
      "
      
      >
        <input  type="file" file-model="todoFile"  />
        
      </div>
        
      <div style="display: flex">
        <label style="margin:10px"> Done by:</label>
        <md-datepicker ng-model="date" md-placeholder="Enter date"></md-datepicker>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">

      <md-button type="submit" ng-click="add(text,date,todoFile)" style="background: #008952;color: white" >
        Add
      </md-button>
      <md-button ng-click="cancel()" style="background: rgb(246, 52, 3);color: white" >
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>

</md-dialog>