<md-dialog aria-label="Add TODO" flex-gt-md="25" flex="90">
  <form ng-cloak action="">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add TODO</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/cancel.svg"></md-icon>
          </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content style="display: flex; flex-direction: column">


      <div style="display: flex; flex-wrap: wrap">
        <label style="margin:10px">
          Todo:</label>
        <input type="text" style="margin:10px; width:40vh;" ng-model="text" required>
      </div>
      <div style="display: flex">
        <label style="margin:10px"> Done by:</label>
        <md-datepicker ng-model="date" md-placeholder="Enter date"></md-datepicker>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">

      <md-button ng-click="add(text,date)" style="background: green;color: white" >
        Add
      </md-button>
      <md-button ng-click="cancel()" style="background: red;color: white" >
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>

</md-dialog>