<md-dialog aria-label="Add TODO" flex-gt-md="25" flex="90" flex-sm="50" flex-md="40">
  <form ng-cloak action="">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add TODO</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/cancel.svg"></md-icon>
          </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout="column" layout-align="center center">  


      <md-input-container  style="width: 92%; margin-top:30px">
        <label style="margin:10px">
          Todo:</label>
        <input type="text"  ng-model="text" required>
      </md-input-container>


      <div style="display: flex">
        <label style="margin:10px"> Done by:</label>
        <md-datepicker ng-model="date" md-placeholder="Enter date"></md-datepicker>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">

      <md-button ng-click="add(text,date)" style="background: rgb(63,81,181);color: white" >
        Add
      </md-button>
      <md-button ng-click="cancel()" style="background: rgb(161, 172, 233);color: white" >
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>

</md-dialog>