<md-toolbar  ng-controller="dashboardCtrl" class="top" >
  <div class="md-toolbar-tools">
      <span class="logo" aria-label="Sidnav">TM</span>

    <h3  flex md-truncate class="topTitle">Tasks</h3>
    <label style="margin-right: 5px">{{username}}</label>
    <md-menu md-position-mode="target-right target" md-offset="0 50" class="menubtn">
      <md-button aria-label=" menu" class="md-icon-button" ng-click="openMenu($mdMenu, $event)" style="margin-left: -1px;">
          <md-icon md-svg-src="img/more.svg" style="fill:black"></md-icon>
      </md-button>

      <md-menu-content width="3">
        <md-menu-item>
          <md-button ng-click="showConfigs($event)">
            <md-icon md-svg-icon="img/config.svg" md-menu-align-target></md-icon>
            Configs
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="logout()">
            <md-icon md-svg-icon="img/logout.svg"></md-icon>
            Logout
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>


<div ng-controller="dashboardCtrl" flex layout="column" layout-align="center center">

  <div flex-xs="25" layout-gt-sm="row" layout-xs="column" layout-align-xs="center center" class="header" ng-show="todos.length>0"
    layout-align="space-between center" >

    <button class="addbtn" ng-click="showAdvanced($event)">
      Add 
    </button>
    <input id="searchInput" type="text" placeholder="Search" ng-model="search" flex-gt-md="30" style=" margin-right:10px"
    >
  </div>


  <button class="addbtn" ng-click="showAdvanced($event)" ng-hide="todos.length>0">
    Add 
  </button>

  <hr>

  <div style="position: relative; position: relative;width: 100%;height: 100%;
" ng-show="todos.length>0">

    <md-content style="position: absolute; width: 100%" layout="column" layout-align="center center" >
      <todo flex ng-repeat="todo in todos | orderBy: ['done','goalDate'] | filter : search"></todo>

    </md-content>
  </div>

</div>