<md-toolbar class="top">
  <div class="md-toolbar-tools">

    <span class="logo" aria-label="Sidnav">TM</span>

    <h1 class="topTitle">Task Manager</h1>

  </div>
</md-toolbar>



<div flex layout="column" layout-align="center center"  ng-controller='homeCtrl' class="background">
    <div class="alert alert-danger" ng-show="error">{{error}}</div>

    <div class="alert alert-success"  ng-show="success">{{success}}</div>

  <md-card layout="column" layout-align="center center" class="cardlog">
    
    <h2>Log in </h2>
    <span>log in to your task manager</span>
    <form layout="column" layout-align="center stretch" class="loginputconteiner" ng-submit="login(user)" name="logForm" role="form">
      <md-input-container>
        <label>Email</label>
        <input ng-model="user.email" type="email" required>
        <div ng-messages="logForm.$error">
          <div ng-message="required">Email address is required</div>
        </div>
      </md-input-container>

      <md-input-container>

      <label>Password</label>
      <input ng-model="user.password" type="password" required pattern=".{6,}">
      <div ng-messages="logForm.$error">
        <div ng-message="required">Password is required</div>
      </div>
      </md-input-container>


      <button type="submit" class="btn-log">Continue</button>
    </form>

  </md-card>

  <md-content>
      <span>You don't have an account yet? <a ng-click="gotoSignUp()" class="bold">Sign up here!</a></span>

  
    </md-content>

</div>